.currentDate {
    // padding-top: 15px;
    margin: 20px;
    font-size: 35px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
}
.inputCity_mycity {
    padding: 12px 12px;
    width: 300px;
    margin: 30px 0px;
    box-sizing:content-box;
    border-radius: 10px;
    border: none;
    
    // border-bottom: 2px solid rgb(255, 255, 255); // Add underline style
    border-top: none;
    border-left: none;
    border-right: none;
    
    button {
        cursor: pointer;
    }
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding-top: 15px;
    // padding-bottom: 8px;
    // margin: 10px;
}

.navbar_logo p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    // gap: 25px; /* Adjust the space between icons */
}
.navbar_logo a {
    color: rgb(45, 45, 45);
    margin-right: 30px;
    // justify-content: center;
}

.navbar_logo a:hover {
    color: rgb(245, 245, 245);
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    // padding: 12px 12px;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
}
.weatherInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 15px;
    margin: auto;
    // margin-left: 800px;
    // margin-right: 800px;
    padding-bottom: 30px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow:  0 5px 20px 0 rgba(31, 31, 255, .2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    max-width: 1000px;
    min-width: 600px; 
}
.user-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.units.imperial {
    padding-bottom: 8px;
}
// Search button styling
button {
    font-family: system-ui, sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: .2em .5em;
    font-weight: bold;  
    border: none;
    border-radius: 10px;

}

button {
    --color:  #ff9e17; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--color); 
    --_g: linear-gradient(var(--color) 0 0) no-repeat;
    background: rgba(255, 255, 255, 0);
    outline-offset: .1em;
  }
button:hover {
    background-color: var(--color);
}


// default body
body{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #e1e4e3, #21a7bc); 
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}




.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.intro,
.main, 
.temperature,
.location{
    // justify-content: space-between;
    // align-items: center;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
}

.intro {
    font-size: 25px;
}

.units {
    position: relative; 
    width: 25px;
    height: 25px;
    text-align: center;
    margin: 50px auto;
    #switch {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
    }
 }
 


#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #ff9e17;
    border-radius: 20px;
    transition: 0.2s;
}

.switch_label:hover {
background: #ffc677;
}

.onoff {
    position: absolute;
    top: 4px;
    left: 3px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #ff9e17;
    transition: 0.2s;
}

#switch:checked+.switch_label {
    background: #ff9e17;
    border: 2px solid #ff9e17;
}

#switch:checked+.switch_label:hover {
    background: #ffc677;
}

/* move */
#switch:checked + .switch_label .onoff {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

//background based on weather condition
body.weather-broken-clouds  {
    background: linear-gradient(150deg, #a5a5a5, #2a2a2a); 

}

body.weather-clear {
    background: linear-gradient(150deg, #a1ddfb, #1887e8);
    // background-image: url(https://source.unsplash.com/ROVBDer29PQ); 

}

body.weather-few-clouds {
    background: linear-gradient(150deg, #a5a5a5, #11122f); 

}

body.weather-scattered-clouds {
    background: linear-gradient(150deg, #a5a5a5, #5b5d9c); 

}
body.weather-drizzle {
    background: linear-gradient(150deg, #99d8c9, #0d91a5); 
}

body.weather-rain {
    background: linear-gradient(150deg, #787579, #1b1b1b); 
}


body.weather-snow {
    background: linear-gradient(150deg, #ffffff, #83aed3);

}
body.weather-mist {
    background: linear-gradient(150deg, #ffffff, #339764); 
}
