
.inputCity_mycity {
    padding: 12px 12px;
    margin: 8px 0px;
    box-sizing:content-box;
    border-radius: 10px;
    border: none;
    
    // border-bottom: 2px solid rgb(255, 255, 255); // Add underline style
    border-top: none;
    border-left: none;
    border-right: none;
    
    button {
        cursor: pointer;
    }
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px 12px;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
}
// Search button styling
button {
    font-family: system-ui, sans-serif;
    font-size: 15px;
    cursor: pointer;
    padding: .1em .6em;
    font-weight: bold;  
    border: none;
    border-radius: 10px;

}

button {
    --c:  #E95A49; /* the color*/
    
    box-shadow: 0 0 0 .1em inset var(--c); 
    --_g: linear-gradient(var(--c) 0 0) no-repeat;
    background: 
      var(--_g) calc(var(--_p,0%) - 100%) 0%,
      var(--_g) calc(200% - var(--_p,0%)) 0%,
      var(--_g) calc(var(--_p,0%) - 100%) 100%,
      var(--_g) calc(200% - var(--_p,0%)) 100%;
    background-size: 50.5% calc(var(--_p,0%)/2 + .5%);
    outline-offset: .1em;
    transition: background-size .4s, background-position 0s .4s;
  }
  button:hover {
    --_p: 100%;
    transition: background-position .4s, background-size 0s;
  }
  button:active {
    box-shadow: 0 0 9e9q inset #0009; 
    background-color: var(--c);
    color: #fff;
}

// default body
body{
    // background: linear-gradient(150deg, #d1eef7, #9cc7ff); 
    flex-direction: column;
    align-items: center;
    background: linear-gradient(150deg, #99d8c9, #0d91a5); 
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.currentDate {
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 8px;
}

.navbar_logo {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the space between icons */
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.intro,
.main, 
.temperature,
.location{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Slab", serif;
}
.intro {
    font-size: 25px;
}
.units {
    position: relative;
    #switch {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
    }
 }
 

.units { 
    position: relative; 
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 50px auto;
}

#switch {
    position: absolute;
    /* hidden */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.switch_label {
    position: relative;
    cursor: pointer;
    display: inline-block;
    width: 58px;
    height: 28px;
    background: #fff;
    border: 2px solid #daa;
    border-radius: 20px;
    transition: 0.2s;
}

.switch_label:hover {
background: #efefef;
}

.onoff {
position: absolute;
top: 4px;
left: 3px;
display: inline-block;
width: 20px;
height: 20px;
border-radius: 20px;
background: #daa;
transition: 0.2s;
}

#switch:checked+.switch_label {
    background: #c44;
    border: 2px solid #c44;
}

#switch:checked+.switch_label:hover {
    background: #e55;
}

/* move */
#switch:checked + .switch_label .onoff {
    left: 34px;
    background: #fff;
    box-shadow: 1px 2px 3px #00000020;
}

//background based on weather condition
body.weather-broken-clouds  {
    background: linear-gradient(150deg, #a5a5a5, #2a2a2a); 

}

body.weather-clear {
    background: linear-gradient(150deg, #a1ddfb, #1887e8); 

}

body.weather-few-clouds {
    background: linear-gradient(150deg, #a5a5a5, #11122f); 

}

body.weather-scattered-clouds {
    background: linear-gradient(150deg, #a5a5a5, #5b5d9c); 

}
body.weather-drizzle {
    background: linear-gradient(150deg, #99d8c9, #0d91a5); 
}

body.weather-rain {
    background: linear-gradient(150deg, #787579, #a50da5); 
}

body.weather-snow {
    background: linear-gradient(150deg, #ffffff, #83aed3); 
}
body.weather-mist {
    background: linear-gradient(150deg, #ffffff, #339764); 
}
