.raindrop {
    background: linear-gradient(150deg, hsl(0, 0%, 84%), #464646); 
    animation: fall 3s linear infinite;
    position: absolute;
    background: linear-gradient(transparent, #ffffff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius : 5px;

}  

  .drizzle {
    background: linear-gradient(150deg, hsl(0, 0%, 84%), #464646); 
    animation: fall 5s linear infinite;
    position: absolute;
    background: linear-gradient(transparent, #ffffff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius : 5px;
}

@keyframes fall {
  0%{
    transform: translateY(1300px);
  }
  100%{
    transform: translateY(2000px);
  }

}
