.snowflake {

    animation: fall 5s linear infinite;
    position: absolute; 
    pointer-events: none;
  }  
  
  @keyframes fall {
    0%{
      transform: translateY(1300px);
    }
    100%{
      transform: translateY(2000px);
    }
  
  }
  