.snowflake {
    animation: fall 5s linear infinite;
    position: absolute; 
    pointer-events: none;
    overflow: none;
  }  
  
  @keyframes fall {
    0%{
      transform: translateY(0%);
    }
    100%{
      transform: translateY(50%);
    }
  
  }
  